html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: inline-block;
}
header h1 {
	font-size: 35px;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: right;
	background-color: yellow;
}
nav {
	position: relative;
	background-color: green;
}
nav > ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
nav ul li {
	background-color: black;
	text-align: center;
	display: inline-block;
	/*width: 18%;*/
}
nav ul li a{
	color: white;
	background-color: black;
	padding: 5px 60px;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
	display: inline-block;
}
aside {
	width: 18%;
	position: relative;
	float: right;
	/*bottom: 0px;*/
	background-color: white;
	background-image: url("http://www.literarygenius.info/images/william-shakespeare.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 100vh;
}
aside h2 {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 30px;
}
aside ul {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	padding-left: 50px;
}

aside ul li {
	position: center;
	font-size: 18px;
}
#content {
	width: 82%;
	background-color: #545548;
	height: 100vh;
	position: relative;
	float: left;
	padding-top: 0;
	margin-top: 0;
}
#content h1 {
	font-size: 50px;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#content p {
	font-size: 23px;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-right: 10%;
}
#content ul {
	font-size: 23px;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: center;
	list-style-type: none;
}
footer {
	clear: both;
	background-color: green;
	margin-bottom: 0;
	width: 82%;
	position: fixed;
	bottom: 0;
}
footer p {
	padding-left: 5px;
	background-color: green;
	font-size: 20px;
}